* {
    box-sizing: border-box;
}

body {
    background-color: #386641;
    font-family: sans-serif;
    height: 100%;
    min-height:100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    width: 92%;
    max-width: 1000px;
    padding: min(5vw, 40px);
    margin: 0 auto;
}


#logoContainer {
    display: flex;
    margin-bottom: 17px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    overflow-y: auto;

    width: 80%;
    max-width: 800px;
    max-height: none;
    min-height: 300px;

    gap: 20px;
    
    background-color: #f97a00;
    box-shadow: 20px 20px 0px #fed16a;
    border: 1px dashed #fed16a;
    padding: 20px;
}

.infoContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    padding: 20px 0px;
    gap: 45px;
    height: auto;
}

button {
    width: clamp(120px, 40%, 180px);
    max-width: 180px;
    padding: 40px 10px;

    background-color: #fed16a;
    border: 2px solid #df730b;
    color:#fff;
    font-size: clamp(18px, 4vw, 30px);
    font-weight: 1000;
    letter-spacing: 3px;
    text-shadow: -1px 0 #f97a00, 0 1px #f97a00, 1px 0 #f97a00, 0 -1px #f97a00;

    transition-duration: 600ms;
    transition-timing-function: ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #fff4a4;
}

.infoContainer {
    background-color: transparent;
    border-bottom: 1px dashed #fed16a;

    font-family: monospace;
    font-size: 14px;
    text-align: left;
    color: #fff;
    text-shadow: -1px 0 #f97a00, 0 1px #f97a00, 1px 0 #f97a00, 0 -1px #f97a00;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    white-space: pre;

    gap: 15px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    min-height: 150px;
    max-width: min(90%, 600px);
    
}

.infoFirstLineContainer, .infoScoreLineContainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 14px;
    font-weight: 600;
}

.infoFirstLineContainer > div, .infoScoreLineContainer > div {
    flex: 1;
}

.infoResultLineContainer {
    display: flex;
    justify-content: center;
    font-weight:bold;
}

.footer {
    width: 100%;
    min-width: 100%;
    padding: 5px;
    
    background-color: #fff4a4;
    border-top:1px dashed #df730b;

    color: #df730b;
    font-size: 12px;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.footer a {
    text-decoration: none;
    color: #386641;
    transition-duration: 600ms;
    transition-timing-function: ease;

}

.footer a:hover {
    text-decoration: none;
    color: #912f46;
}

@media (max-width: 480px) {
    #gameContainer {
        width: 95%;
        max-height: none;
        min-height: 250px;
    }

    .buttonsContainer {
        gap: 15px;
        padding: 10px 0px;
    }

    button {
        width: 90%;
        font-size: 18px;
        padding: 12px 8px;
    }

    .infoContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        flex-wrap: wrap;
        
        white-space: pre-wrap;
    }

    .infoContainer > div {
        max-width: 100%;
    }

    .infoFirstLineContainer, .infoScoreLineContainer {
        flex-direction: column;
        gap: 0px;
    }
}